$base-text-color: #ff8000;
$base-text-color-small: lighten($base-text-color, 30%);
$base-font: 1em;
$gray-text-color: #555;
$white-text-color: #fefefe;



header, .header {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    color: $base-text-color;
  }
  h1 {
    font-size: $base-font*3; /* font em = 36px */
  }
  h2 {
    font-size: $base-font*2.5; /* font em = 30px */
  }
  h3 {
    font-size: $base-font*2; /* font em = 24px */
  }
  h4 {
    font-size: $base-font*1.5 /* font em = 18px */
  }
  h5 {
    font-size: $base-font*1.167; /* font em = 14px */
  }
  h6 {
    font-size: $base-font*1; /* font em = 12px */
  }

  small {
    color: $base-text-color-small ;
    font-size: 75%;
  }

  p {
    color: $base-text-color;
    font-size: $base-font;
  }


}
