/**
 * Created by barkers on 22/06/16.
 */
@import "reset";
@import "typography";
@import "hovereffect";


// indexpage
.hoverEffects {
  margin-bottom: 1.5rem;
}

// aboutpage
.about-content {

  p {
    color: $white-text-color;
    font-size: $base-font*1.167;
  }

}






